*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fdfdfd;
}



header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    width: 100vw;
    height: 130px;
}

ul li {
    color: #ffffff;
    font-size: 20px;
    font-weight: 70px;
    list-style: none;
    cursor: pointer;
    
    
}

ul {
    display: flex;
    gap: 65px;
    margin-left: 800px;
}

header img {
    width: 250px;
    position: absolute;
    margin-right: 1600px;
    margin-bottom: -65px;
    cursor: pointer;
}

/* .img-body {
    display: flex;
    justify-content: center;
    height: 800px;
    margin-right: 465px;
    
} */


.carousel-inner {
    margin: 20px;
    padding: 20px;
   
}

img {
    border-radius: 15px;
}

.butão{
    width: 115px;
    
}

.menu-hamb {
    width: 70px;
    margin-left: 3350px;
    height: 70px;
    margin-bottom: 5px;
    cursor: pointer;
}

span{
    color: rgb(108, 179, 255);
    
}

.lupa-hover:hover {
    filter: invert(100%);
}




h1{
    margin-left: 600px;
}


.academia-fora {
    display: flex;
    justify-content: center;

}

.academia-fora button {
  
    width: 300px;
    height: 40px;
    border-radius: 50px;
    position: absolute;
    margin-top: 220px;
    right: 42%;
    
    
    
   
  
}

.academia-fora button:hover {
    background-color: black;
    color: white;
}

.img-fachada{
    margin-left: 571px;
    
}

.lupa-img {
    position: absolute;
    margin-left: 1050px;
    margin-top: 226px;
   z-index: 2; 
   height: 10px;
   
    
}

#lupa-branca {
    display: none;
}

.h2 {
    margin-left: 550px;
}

.p-equipamentos {
    margin-left: 650px;
    font-size: 17px;
}



.price-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    
}

.price-table th, .price-table td {
    border: 1px solid #050505;
    padding: 8px;
    text-align: center;
}

.price-table th {
    background-color:rgb(133, 151, 255);
}

.price-table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.price-table tbody tr:hover {
    background-color: #ddd;
}

.price-table a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.774);
}

th {
    color: #ffffff;
}

.cards {
    margin-left: 250px;
    margin-top: 25px;
    display: flex;
    gap: 250px;
}

.btn-saiba{
    margin-top: 139px;
}

footer {
    margin-top: 150px;
    background-color: #000000;
    position: relative;
    height: 400px;
}

footer img{
    position: absolute;
    left: 42.5%;
}
.academia-saude{
    height: 20px;
    position: absolute;
    margin-left: 750px;
}

.icons-footer{
    display: flex;
    margin-left: 900px;
    margin-top: 240px;
position: absolute;
display: flex;
justify-content: center;


}

.img-instagram {
margin-right: -200px;
display: flex;


}


.whatsapp{
margin-left: 40px;
}

.copy-footer{
    color: #ffffff;
    margin-left: 850px;
    position: absolute; 
    margin-top: 330px;
}    







    



